@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  cursor: default;
}

.navbar {
  width: 100%;
  height: 14vh;
  background-color: #8d0801;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: -10px;
}

.left img {
  width: 90px;
  height: 70px;
}

.middle ul {
  width: 400px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.middle ul li a {
  text-decoration: none;
  color: #eaf4f4;
  font-size: 1.1rem;
}

.middle ul li a:hover {
  border: 2px solid #cce3de;
  padding: 8px;
}

.right {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.nav-btn {
  background-color: #eaf4f4;
  border: none;
  width: 70px;
  height: 35px;
  border-radius: 7px;
}

.fa-user,
.fa-right-from-bracket {
  color: #01868d;
}

.profile-box {
  margin: 0 auto;
  width: 800px;
  height: 370px;
  background-color: #8d0801;
  color: #eaf4f4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.profile-box .user-info {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.fa-x {
  padding-left: 500px;
  padding-top: 10px;
}

.user-details {
  display: flex;
}

.profile-box .user-details .user-details-left img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 50px;
}

.user-details-right-box {
  width: 560px;
  height: 250px;
  background-color: #01868d;
  margin-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-left: 5%;
  padding-top: 2%;
  border-radius: 10px;
}

.name,
.age,
.gender,
.email,
.contactNo,
.country h3 {
  font-size: 1.1rem;
}

#name,
#age,
#country,
#gender,
#email,
#contactNo {
  font-size: 1.1rem;
  padding: 0;
}

.logout-box {
  margin: 0 auto;
  width: 600px;
  height: 200px;
  background-color: #8d0801;
  color: #eaf4f4;
  position: fixed;
  padding-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.logout-box h2,
.logout-text {
  text-align: center;
}

.logout-box p {
  font-size: 1.3rem;
}

.buttons {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 5% 10%;
}

.logout-btn {
  width: 200px;
  height: 40px;
  color: #01868d;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
}

.banner {
  display: grid;
  place-items: center;
}

.banner img {
  height: 190px;
}

hr {
  margin-top: 10px;
}
.news {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.news-card {
  width: 280px;
  height: 350px;
  border: 2px solid #eaf4f4;
}

.news-card:hover {
  box-shadow: 5px 5px 5px #cce3de;
}

.news .news-card img {
  width: 100%;
  height: 150px;
}

.news .news-card h3,
p {
  padding: 0 20px;
}

.news .news-card p {
  padding: 10px 20px;
  font-size: 0.9rem;
}

.news-heading {
  text-align: center;
  text-decoration: underline;
  color: #8d0801;
  font-size: 2rem;
}

.videos-card {
  width: 600px;
  height: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 20px;
}

.videos-1st {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

#video1 {
  background: linear-gradient(to bottom, transparent, black),
    url("https://media.gettyimages.com/id/107168196/photo/patrice-evra-of-manchester-united-hurdles-the-challenge-of-el-hadji-diouf-of-blackburn-rovers.jpg?s=612x612&w=0&k=20&c=CIANR81cOvfCBXVyZ7SfUwqls2ZADV5CMYi8HZDXSoE=");
  background-size: 700px;
}

#video2 {
  background: linear-gradient(to bottom, transparent, black),
    url("https://media.gettyimages.com/id/1462715751/photo/marcus-rashford-of-manchester-united-celebrates-his-goal-to-make-it-2-0-during-the-premier.jpg?s=612x612&w=0&k=20&c=gTWM0FNV_-3Yw7yA4NM3IbjTQQ467QVw2ATRGQWCnRo=");
  background-size: 700px;
}

.video-btn {
  width: 60px;
  background-color: rgb(230, 12, 12);
  height: 60px;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

.videos-card h3 {
  text-transform: uppercase;
  color: #eaf4f4;
  font-size: 2rem;
  line-height: 1;
  font-family: "Roboto";
}

#video1:hover {
  background-size: 750px;
}

#video2:hover {
  background-size: 750px;
}

.advertisement {
  margin-top: 10px;
  display: grid;
  place-items: center;
}

.videos-2nd {
  display: flex;
  justify-content: space-evenly;
}

.videos-2 .videos-card {
  width: 280px;
  height: 400px;
}

.videos-2 h3 {
  font-family: "Roboto";
  font-size: 1.5rem;
}

#video3 {
  background: linear-gradient(to bottom, transparent, black),
    url("https://media.gettyimages.com/id/1237028580/photo/fred-of-manchester-united-celebrates-at-full-time-during-the-premier-league-match-between.jpg?s=612x612&w=0&k=20&c=EdTt3QPP9cKx-vAND8vi03zO8RzePOPwWeWKSbKufd0=");
}

#video4 {
  background: linear-gradient(to bottom, transparent, black),
    url("https://media.gettyimages.com/id/1441219453/photo/alejandro-garnacho-of-manchester-united-celebrates-scoring-their-sides-second-goal-with.jpg?s=612x612&w=0&k=20&c=Mse6JruG2SFFfh0SRQv8r0RyjiLXZESL8KI-P-OzKN4=");
}

#video5 {
  background: linear-gradient(to bottom, transparent, black),
    url("https://media.gettyimages.com/id/490326456/photo/anthony-martial-of-manchester-united-looks-on-during-the-barclays-premier-league-match-between.jpg?s=612x612&w=0&k=20&c=G9Ql8hc2yN_G-D8FyYguuX2_DhsWrAslPtzeWi95Q48=");
}

#video6 {
  background: linear-gradient(to bottom, transparent, black),
    url("https://media.gettyimages.com/id/1408859402/photo/united-players-celebrate-a-goal-during-the-pre-season-friendly-match-between-melbourne.jpg?s=612x612&w=0&k=20&c=JF5HpQyMA3a79ZjiDCo5uZ4z4JNspZ7sH9QzbMPrm3Q=");
}

#video3:hover {
  background-size: 550px;
}

#video4:hover {
  background-size: 550px;
}

#video5:hover {
  background-size: 550px;
}

#video6:hover {
  background-size: 550px;
}

.academy-banner {
  background: linear-gradient(to bottom, transparent, black),
    url("https://media.gettyimages.com/id/928626076/photo/manchester-united-youth-team-coach-eric-harrison-is-awarded-a-bottle-of-champagne-and-and.jpg?s=612x612&w=0&k=20&c=SkFQpRq92KOcwv6FpDhKv9sX0e9gHXM5uuVekQMIHOU=");
  width: 100%;
  height: 500px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

.academy-info {
  padding-left: 20px;
}

.academy-info h3 {
  color: #eaf4f4;
  font-size: 4rem;
}

.academy-info button {
  background-color: black;
  border: 2px solid #eaf4f4;
  text-transform: uppercase;
  color: #eaf4f4;
  width: 300px;
  height: 50px;
  font-weight: 700;
  border-radius: 30px;
  margin-bottom: 10px;
}

.shop {
  display: flex;
  justify-content: space-evenly;
}

.shop-card {
  width: 320px;
  height: 350px;
  background-color: white;
  border: 2px solid rgb(197, 197, 197);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

.shop-card img {
  width: 200px;
  height: 200px;
}

.shop-card p {
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
}

.shop-card button {
  width: 140px;
  border-radius: 20px;
  border: 1px solid black;
  font-weight: 700;
  background-color: white;
  text-transform: uppercase;
  height: 40px;
}

.podcast-banner {
  background: linear-gradient(to bottom, transparent, black),
    url("https://media.gettyimages.com/id/1211163224/photo/manchester-united-fans-watch-a-live-podcast-recording-ahead-of-the-premier-league-match.jpg?s=612x612&w=0&k=20&c=y8cSMKsObp1YlResFKIMHwEg2qSTa7Z-pEJZJOK2O5o=");
  height: 80vh;
  background-size: cover;
}

.podcast-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10px;
}

.podcast-banner button {
  width: 60px;
  height: 60px;
  background-color: red;
  border: none;
  color: #cce3de;
  margin-left: 20px;
}

.podcast-banner p {
  color: #eaf4f4;
  margin: 10px 0;
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.match {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.match-card {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 10px;
}

.logo img {
  width: 200px;
}

.schedule p {
  text-align: center;
  font-size: 1.3rem;
}

.score {
  display: flex;
}

.score img {
  width: 70px;
}

.score button {
  width: 90px;
  height: 70px;
  font-size: 2rem;
  background-color: rgb(104, 96, 96);
  border-radius: 10px;
  color: #eaf4f4;
  border: none;
  margin: 0 8px;
  font-family: "Roboto";
}

.match-card h5 {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.match-btn button {
  height: 40px;
  width: 180px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
}

#grey {
  background-color: black;
}
